
@use "variables" as *;
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Dynapuff", cursive;
    font-weight: 600;

    main {
        

        text-align: left;

        h1 {
            color: $rojo;
            text-align: center;
            
        }

        h4 {
            text-decoration: underline;
            text-align: center;
            color: $rojo;
        }

    

    p {
        font-weight: bold;
        font-size: 16px;

    } 
  }
}
