@use "variables" as *;
header { font-family: "Dynapuff", cursive;
    font-size: 20px;
    position: sticky;
    top: 0%;
    background-color:$beige;
    z-index: 1000;
    @include flex-basico(flex, row, space-around);
    height: 15vh;

    .titulonav {
    @include flex-basico(flex, row, space-around);
        width: 25%;
        flex-wrap: nowrap;
        align-items: center;
    }

    .titulologo {
        font-size: 22px;
        font-family: cursive;
        color: $rojo;
        font-weight: 800;
    }
    .logotipo-cookie {
        width: 80px;
    }

    nav {
        @include flex-basico(flex, row, space-around);
        width: 75%;
        align-items: center;
        

        ul {
            list-style: none;
            display: flex;
            gap: 20px;

            li {
            
                a {
                    text-decoration: none;
                    font-size: 18px;
                    color: $negro;
                    font-weight: 600;
                }
                
            }
        }
    }
}
@media (max-width:768px) {
    header { 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: sticky;
        height: 110px;
        gap: 5px;
        nav {
        width: 95%;
        background-color: #a83d3d38;
        justify-content: space-around;
         a {
        font-weight: 500;
    }
    }
    
    .logotipo-cookie {
        width: 50px;
    }
    .titulologo {
        display: none;
        } } }
   @media (min-width: 769px) and (max-width: 1024px) {
    header{
        .titulonav{ 
            width: 35%;
            background-color:#a83d3d38; 
        }
        .titulologo{
            font-size: 20px;
        }
        nav{
            width: 65%;
            justify-content: flex-end;
            padding: 5%;
        }
    }
   }    